*{
box-sizing:border-box;
}
body{
	display:flex;
background-image: linear-gradient(180deg, hsl(273, 75%, 66%), hsl(240, 73%, 65%));
background-repeat:no-repeat;
height:100vh;
margin:0;
align-items:center;
font-family: 'Kumbh Sans', sans-serif;
 background-blend-mode:darken;

}

.window{
	width:65%;
	height:650px;
	margin:auto;
	background-color:white;
	border-radius:30px;
	position:relative;
	overflow: hidden;
	display:flex;
	flex-direction:row;
}
	.images{
		width:50%;
	
	}
	.FAQ{display:flex;
	justify-content:center;
	flex-direction:column;
		width:40%;
		height:auto;
	}
	
	.question{
		 transition: 0.4s;
 cursor: pointer;
	width:100%;}
	
p img{
	
	float:right;
width:15px;
height:10px;
cursor:pointer;
transform:none;
}
hr{
width:100%;
margin-left:0px;
color:hsl(240, 5%, 91%);
}

.question p{
cursor:pointer;}

.question p:hover{
color:hsl(14, 88%, 65%);}

.answer{
display:none;
color:hsl(240, 6%, 50%);
overflow: hidden;
width:100%;}


	
	
	.images img:first-child{
		margin-left:-780px;
		margin-top:-390px;
		height:1250px;
	
	}
	.images img:nth-child(2){
		width:48%;
	position:absolute;
	left:-105px;
	top:88px;
	}
	
.kubs{
	position:absolute;
margin-left:210px;
margin-top:78px;
z-index:1;}

.arrowUp{
transform:rotate(180deg);}