*{
box-sizing:border-box;
}
body{
	display:flex;
background-image: linear-gradient(180deg, hsl(273, 75%, 66%), hsl(240, 73%, 65%));
background-repeat:no-repeat;
height:100vh;
margin:0;
align-items:center;
font-family: 'Kumbh Sans', sans-serif;
 background-blend-mode:darken;

}



.window{
	width:65%;
	height:650px;
	margin:auto;
	background-color:white;
	border-radius:30px;
	position:relative;
	overflow: hidden;
	display:flex;
	flex-direction:row;
}
	.images{
		width:50%;
background-image:url(images/bg-pattern-desktop.svg);
background-repeat:no-repeat;
background-position:128% 75% ;
background-size: 180% ;
	}
	
	.women{
		position:relative;
		left:-90px;
		top:95px;
		width:91%;
	}
	
	.women1{
	display:none;}
	
	.FAQ{display:flex;
	justify-content:center;
	flex-direction:column;
		width:40%;
		height:auto;
	}
	
	.question{
		
 cursor: pointer;
	width:100%;}
	
	
	
 .question img{
	
	float:right;
width:15px;
height:10px;
cursor:pointer;
transform:none;
}

.arrowDown{
transform:none;}

hr{
width:100%;
margin-left:0px;
color:hsl(240, 5%, 91%);
}

.question p{
cursor:pointer;}

 .question:hover{
color:hsl(14, 88%, 65%);
}



.answer{
display:none;
color:hsl(240, 6%, 50%);
overflow: hidden;
width:100%;}


	
.kubs{
	position:absolute;
margin-left:240px;
margin-top:88px;
z-index:1;}

.arrowUp img{
transform:rotate(180deg);
}
.arrowUp p{
font-weight:bold;}



@media screen and (min-width:1440px) and (max-width: 1600px){
	.window{
	width:80%;}
	.women {
  
    left: -90px;
    top: 110px;
    width: 93%;
}
.kubs{
	position:absolute;
margin-left:3.5%;
margin-top:7%;
z-index:1;}
	
}

@media screen 
  and (min-width: 1200px) 
  and (max-width: 1400px) {
	  
	  .women{
		
	left: -20%;
top: 17%;
width: 108%;
		
	}
	
	.window{
	width:80%;}
	
	.images {
    width: 50%;

    background-position: 108% 68%;
    background-size: 235%;
}
.kubs{
	position:absolute;
margin-left:3%;
margin-top:8%;
z-index:1;}
  }

@media screen and (min-width: 767px) and (max-width: 1024px) {
	.images {
 background-image:url(images/bg-pattern-mobile.svg);
width:100%;
height:150px;
background-position:top center ;
background-size: contain ;
}
	.women{
	display:none;}
	
	.women1{
	display:block;
		width:45%;
		position:absolute;
	left:27%;
	top:38px;
		z-index:2;}
	
.window{
flex-direction:column;
height:auto;
margin-top:25%;}

.FAQ{
	width:85%;
	margin:auto;
	padding-bottom:40px;
	
}
	h1{
	text-align:center;}
	
		.kubs{
		width:18%;
	position:absolute;
top:5%;
right:56%;
z-index:2;}

}

@media screen and (max-width:590px){
	
	body{
		height:128vh;
	}
	
		.window{
			margin-top:200px;
	width:85%;
	height:auto;

	flex-direction:column;
}
	.images{
		
background-image:url(images/bg-pattern-mobile.svg);
width:80%;
height:130px;
margin:auto;
background-position:top center ;
background-size: contain ;
	}
	
	.women{
	visibility:hidden;}
	
	.women1{
		display:block;
		width:70%;
		position:absolute;
	left:15%;
	top:68px;
		z-index:2;
	}
	.kubs{
		width:28%;
	position:absolute;
top:50px;
right:60%;
z-index:2;}

.FAQ{
	width:85%;
	margin:auto;
	padding-bottom:40px;
}
h1{
text-align:center;}
p{
font-size:13px;}
.answer{
font-size:13px;}
	
}

